nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  background-color: #f0f0f0;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-title {
  font-size: 2rem;
}

.navbar-links {
  margin-right: 10px;
  gap: 7px;
}

nav div {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
  color: blue;
}
